In [4]:
import random
import numpy as np
random.randint(0,1)

1

In [2]:
for i in range(10):
    print(random.randint(0,1))

0
0
0
0
0
0
0
0
1
0

In [7]:
nsteps = 1000
draws = np.random.randint(0,2,size=nsteps)
steps = np.where(draws > 0, 1,-1)
walk = steps.cumsum()

In [22]:
walk.min()

-3

In [23]:
(np.abs(walk) >= 10).argmax()

143

In [24]:
nwalks = 5000
nsteps = 1000
ndraws = np.random.randint(0,2,size=(nwalks,nsteps))
steps = np.where(ndraws > 0, 1,-1)
nwalks = steps.cumsum(1)
nwalks

array([[ -1,   0,  -1, ...,   4,   3,   2],
       [ -1,   0,  -1, ..., -34, -33, -34],
       [ -1,   0,   1, ..., -16, -17, -18],
       ...,
       [ -1,  -2,  -3, ...,  48,  49,  48],
       [ -1,   0,  -1, ..., -48, -47, -46],
       [  1,   2,   1, ...,  26,  27,  28]], dtype=int32)

In [25]:
ndraws

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 1, 1, 0],
       [0, 1, 1, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 1, 0],
       [0, 1, 0, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 1, 1]])

In [27]:
import pandas as pd

In [28]:
data = {'state':['Ohio','Nevada'],
        'year':[2000,2020],
        'pop':[1.5,2.6]}

In [29]:
frame = pd.DataFrame(data)

In [30]:
frame

    state  year  pop
0    Ohio  2000  1.5
1  Nevada  2020  2.6

In [31]:
pd.DataFrame(data,columns = ['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2020  Nevada  2.6

In [32]:
obj = pd.Series(np.arange(5.),index=['a','b','c','d','e'])

In [33]:
obj.drop('c',inplace=True)

In [34]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [35]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [38]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})

In [39]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker,data in all_data.items()})

In [43]:
returns = price.pct_change()

returns.tail()

In [44]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-04-28 -0.016209  0.002780 -0.024361 -0.033083
2020-04-29  0.032845  0.019165  0.044874  0.087390
2020-04-30  0.021096 -0.024322  0.010032  0.005352
2020-05-01 -0.016099 -0.029388 -0.025891 -0.020798
2020-05-04  0.014149 -0.001559  0.024460  0.004687