In [2]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [4]:
isiterable("a string")

True

In [5]:
isiterable([1,2,3])

True

In [6]:
isiterable(5)

False

In [7]:
5 - 7

-2

In [8]:
12 + 21.5

33.5

In [9]:
5 <= 2

False

In [10]:
a_tuple = (3,5,(4,5))

In [11]:
a_tuple[0] = "four"

TypeError: 'tuple' object does not support item assignment

In [12]:
c = """
this is a longer string that
spans multiple lines
"""

In [13]:
c

'\nthis is a longer string that\nspans multiple lines\n'

In [14]:
c.count("\n")

3

In [15]:
template = "{0:.2f}{1:s} are worth US${2:d}"

In [16]:
template.format(4.560,"Argentine Pesos", 1)

'4.56Argentine Pesos are worth US$1'