In [5]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [6]:
nested_tup=(4,5,6),(7,8)

In [7]:
nested_tup

((4, 5, 6), (7, 8))

In [8]:
tuple([4,0,2])

(4, 0, 2)

In [9]:
tup1 = tuple('string')

In [10]:
tup1

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup1[1]

't'

In [13]:
tup1[2] = "p"

TypeError: 'tuple' object does not support item assignment

In [16]:
tup2 = tuple(['df',[2,3,4],True])

In [17]:
tup2[1].append(6)

In [18]:
tup2[1]

[2, 3, 4, 6]

In [19]:
tup3 = tup + tup1 + tup2

In [20]:
tup3

(4, 5, 6, 's', 't', 'r', 'i', 'n', 'g', 'df', [2, 3, 4, 6], True)

In [21]:
tup4 = tup2*6

In [22]:
tup4

('df',
 [2, 3, 4, 6],
 True,
 'df',
 [2, 3, 4, 6],
 True,
 'df',
 [2, 3, 4, 6],
 True,
 'df',
 [2, 3, 4, 6],
 True,
 'df',
 [2, 3, 4, 6],
 True,
 'df',
 [2, 3, 4, 6],
 True)

In [23]:
a,b,c = tup # 结构性赋值

In [24]:
print(a,b,c)

4 5 6

In [25]:
values = 1,2,3,4,5,6,7,8

In [26]:
c,d,*r=values

In [27]:
r

[3, 4, 5, 6, 7, 8]

In [28]:
e,f,*_ = values

In [29]:
_

[3, 4, 5, 6, 7, 8]

In [31]:
values.count(1)

1